{% extends "../_templates/layout.html" %}

{% block content %}
    <h3>Guestbook :: Create</h3>

    <p>
        <a href="/">[home]</a>
        <a href="/guestbooks">[guestbooks]</a>
    </p>


    {% if errors | length %}
        <ul>
            {% for error in errors %}
                <li>{{ error.msg }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post" action="/guestbooks/store">
        <label>name:</label>
        <input type="text" name="name" id="name" /><br />
        <label>email:</label>
        <input type="email" name="email" id="email" /><br />
        <label>message:</label>
        <textarea name="message" id="message" cols="20" rows="3"></textarea><br />
        <input type="submit" value="Insert">
    </form>
{% endblock %}