{% extends "../_templates/layout.html" %}

{% block content %}
    <h3>Guestbook</h3>

    <p>
        <a href="/">[home]</a>
        <a href="/guestbooks/create">[create]</a>
    </p>

    <p>{% if result %} {{ result }} {% endif %}</p>

    <form method="get" action="/guestbooks">
        <label>search:</label>
        <input type="text" name="search" id="search">
        <input type="submit" value="search!">
    </form>

    <table border="1" width="50%">
        <thead>
            <tr>
                <th>#</th>
                <th>name</th>
                <th>email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% if guestbooks | length < 1 %}
                <tr>
                    <td colspan="4">no data</td>
                </tr>
            {% else %}
                {% for guestbook in guestbooks %}
                    <tr>
                        <td>{{ (loop.index + (ROWS_PER_PAGE * currPage) - ROWS_PER_PAGE) if currPage > 1 else loop.index }}</td>
                        <td>{{ guestbook.name }}</td>
                        <td>{{ guestbook.email }}</td>
                        <td>
                            <a href="/guestbooks/edit/{{ guestbook.guestbook_id }}">[edit]</a>

                            <form id="delete-form" method="post" action="/guestbooks/delete/{{ guestbook.guestbook_id }}">
                                <a
                                    href="javascript:void(0)"
                                    onclick="confirm('Delete this data?')
                                        ? document.querySelector('#delete-form').submit()
                                        : false"
                                >[delete]</a>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" align="right">
                    <a href="/guestbooks/?page=1">|<<</a>
                    <a href="/guestbooks/?page={{ prevPage }}"><</a>

                    <form method="get" action="/guestbooks">
                        <input size="3" type="text" name="page" id="page" value="{{ currPage }}">
                    </form>

                    {# for i in range(pageNumStart, totalPageNum) #}
                        <!-- <a href="/guestbooks/?page={{ i + 1 }}">{{ i + 1 }}</a> -->
                    {# endfor #}

                    <a href="/guestbooks/?page={{ nextPage }}">></a>
                    <a href="/guestbooks/?page={{ lastPage }}">>>|</a>
                </td>
            </tr>
        </tfoot>
    </table>
{% endblock %}